<footer class="bg-gray-100 grid grid-cols-4 p-10 pl-20">
  <% 4.times.each do %>
  <ul>
    <% 5.times.each do |item| %>
      <li><%= link_to Faker::Address.city, '#' %></li>
    <% end %>
  </ul>
  <% end %>
</footer>