<section class="pt-6">
  <h2 class="text-4xl font-semibold pb-5 px-8 sm:px-16">O que esta perto de voce</h2>
  <div class="grid grid-cols-4 gap-4">
    <% @objects_to_sell.each do |object_to_sell| %>
      <div class="border-2 border-gray-200 rounded-md shadow-md flex flex-col items-center justify-center">
        <%= image_tag object_to_sell.image_cover %>
        <h3 class=""><%= object_to_sell.title %></h3>
      </div>
    <% end %>
  </div>
</section>

<p>Diversidade de ofertas</p>
<div>
  <div>
    <h2>Cadastre-se</h2>
  </div>
  <div>
    <h2>Login</h2>
  </div>
</div>