<section class="pt-6">
  <h2 class="text-4xl font-semibold pb-5 px-8 sm:px-16">O que está perto de você</h2>
  <div class="grid md:grid-cols-4 md:gap-4" id="results">
    <%=render 'welcome/results' %>
  </div>
</section>

<section class="pt-6">
  <h2 class="text-4xl font-semibold pb-5 px-8 sm:px-16">Diversidade de ofertas</h2>
</section>

<div>
  <div>
    <h2>Cadastre-se</h2>
  </div>
  <div>
    <h2>Login</h2>
  </div>
</div>