<div class="relative">
  <%= image_tag "banner.png", alt: "banner", class: "object-fill w-full h-[50vh]" %>
  <div class="absolute top-1/2 w-full text-center">
    <p class="font-bold">Tudo pode servir em voce!</p>
    <%= button_to "Ver ofertas", root_path, class: "text-blue-400 bg-white px-10 py-4 shadown-md rounded-full font-bold my-3 hover:shadow-xl active:scale-90 transition duration-150" %>
  </div>
</div>